.env
.local/kms/data
.local/postgres
.local/s3
.local/nginx/*.pem
node_modules
/console/public/index.css
/console/public/index.js
/console/public/index.js.map
/vault-ui/public/index.css
/vault-ui/public/index.js
/vault-ui/public/index.js.map
