services:
  api:
    build:
      dockerfile: ./cmd/api/Dockerfile
      context: .
    depends_on:
      - kms
      - postgres
    develop:
      watch:
        - action: rebuild
          path: ./cmd/api/
        - action: rebuild
          path: ./internal/
    environment:
      API_DB: "postgres://postgres:password@postgres:5432/postgres"
    env_file:
      - .env
    ports:
      - "3001:3001"
    tty: true
  app:
    command: bash -c "npm i --force && npm run dev"
    environment:
      APP_API_URL: ${APP_API_URL}
      APP_BUILD_IS_DEV: 1
      APP_DOGFOOD_PROJECT_ID: ${APP_DOGFOOD_PROJECT_ID}
    expose:
      - 3000
    image: node:22.11.0
    ports:
      - "3000:3000"
    tty: true
    volumes:
      - ./app:/app:cached
    working_dir: /app
  kms:
    environment:
      KMS_REGION: ${AWS_DEFAULT_REGION}
      PORT: 4566
    expose:
      - 4566
    image: nsmithuk/local-kms:latest
    ports:
      - 4566:4566
      - 4599:4566
    volumes:
      - ./.kms/data/:/data/
      - ./.kms/init/:/init/
  nginx:
    depends_on:
      api:
        condition: service_started
      app:
        condition: service_started
      ui:
        condition: service_started
    image: nginx:1-alpine
    logging:
      driver: "none"
    ports:
      - 80:80
    volumes:
      - ./.nginx/local.conf:/etc/nginx/conf.d/default.conf
  postgres:
    environment:
      POSTGRES_PASSWORD: "password"
    expose:
      - 5432
    image: postgres:15.8
    ports:
      - "5432:5432"
    volumes:
      - ./.postgres:/var/lib/postgresql/data
  ui:
    command: bash -c "npm i --force && npm run dev"
    environment:
      UI_API_URL: ${UI_API_URL}
      UI_BUILD_IS_DEV: 1
      UI_PROJECT_ID: ${UI_PROJECT_ID}
    expose:
      - 3002
    image: node:22.11.0
    ports:
      - "3002:3002"
    tty: true
    volumes:
      - ./ui:/ui:cached
    working_dir: /ui
