# Tesseral Local Dev Entries

127.0.0.1 api.tesseral.example.com
127.0.0.1 config.tesseral.example.com
127.0.0.1 vault.console.tesseral.example.com
127.0.0.1 console.tesseral.example.com
127.0.0.1 tesseralusercontent.example.com

127.0.0.1 project-54vwf0clhh0caqe20eujxgpeq.tesseral.example.app
127.0.0.1 project-79ldwwwzybn66dxa91udi7mn3.tesseral.example.app
127.0.0.1 project-269wse1l6u0jnvs8afpq44f6v.tesseral.example.app
127.0.0.1 project-8cu705zczqtcndc3c1mvgnoxc.tesseral.example.app
