events {}

http {
    server {
        listen 80;

        location / {
            proxy_pass ${TESSERAL_BACKEND_API_TESSERAL_INTERNAL_API_ENDPOINT}/api/backend/;
            proxy_ssl_server_name on;
        }
    }
}
