name: golangci-lint
on:
  push:

permissions:
  contents: read
  pull-requests: read

jobs:
  gofmt:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: gofmt check
        run: |
          files=$(gofmt -l -w .)
          if [[ -n "$files" ]]; then
            echo $files
            exit 1
          fi
