name: golang-lint
on:
  push:

permissions:
  contents: read
  pull-requests: read

jobs:
  gofmt:
    name: gofmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - name: gofmt check
        run: |
          files=$(gofmt -l -w .)
          if [[ -n "$files" ]]; then
            echo $files
            exit 1
          fi

#  errcheck:
#    name: errcheck
#    runs-on: ubuntu-latest-m
#    steps:
#      - uses: actions/checkout@v4
#      - uses: actions/setup-go@v5
#        with:
#          go-version: 1.24
#      - run: |
#          go tool errcheck -ignore 'rollback' ./cmd/... ./internal/...
